[package]
name = "apca"
version = "0.0.0"
edition = "2018"
authors = ["Daniel Mueller <deso@posteo.net>"]
license = "GPL-3.0-or-later"
description = """
A create for interacting with the Alpaca API.
"""

[dependencies]
futures = "0.1"
hyper = "0.12"
hyper-tls = "0.3"
num-decimal = {version = "0.1", features = ["serde"]}
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0"
url = "1.0"
uuid = {version = "0.7", features = ["serde", "v4"]}

[dev-dependencies]
tokio = {version = "0.1", default-features = false}
