[package]
name = "apca"
version = "0.16.0"
edition = "2018"
authors = ["Daniel Mueller <deso@posteo.net>"]
license = "GPL-3.0-or-later"
homepage = "https://github.com/d-e-s-o/apca"
repository = "https://github.com/d-e-s-o/apca.git"
readme = "README.md"
categories = [
  "api-bindings",
  "asynchronous",
  "network-programming",
  "web-programming::http-client",
  "web-programming::websocket"
]
keywords = ["trading", "finance", "async", "stocks"]
description = """
A create for interacting with the Alpaca API.
"""
include = ["src/**/*", "LICENSE", "README.*", "CHANGELOG.*"]

[badges]
gitlab = { repository = "d-e-s-o/apca", branch = "master" }

[dependencies]
futures = {version = "0.3", default-features = false}
http = {version = "0.2", default-features = false}
http-endpoint = "0.4"
hyper = {version = "0.14", features = ["client", "http1", "stream"]}
hyper-tls = {version = "0.5", default-features = false}
num-decimal = {version = "0.2", features = ["serde"]}
serde = {version = "1.0", features = ["derive"]}
serde_json = {version = "1.0", default-features = false, features = ["std"]}
serde_urlencoded = {version = "0.7", default-features = false}
serde_variant = {version = "0.1", default-features = false}
time-util = {version = "0.2", features = ["chrono", "serde"]}
tracing = {version = "0.1", default-features = false, features = ["attributes", "std"]}
tracing-futures = {version = "0.2", default-features = false, features = ["std-future"]}
tungstenite = {package = "tokio-tungstenite", version = "0.13", features = ["connect", "tls"]}
url = "2.0"
uuid = {version = "0.8", default-features = false, features = ["serde"]}
websocket-util = "0.7"

[dev-dependencies]
test-env-log = {version = "0.2.2", default-features = false, features = ["trace"]}
tokio = {version = "1.0", default-features = false, features = ["rt-multi-thread", "macros"]}
tracing-subscriber = {version = "0.2", default-features = false, features = ["ansi", "chrono", "env-filter", "fmt"]}
uuid = {version = "0.8", default-features = false, features = ["v4"]}
websocket-util = {version = "0.7", features = ["test"]}
